.padre{
    font-size: 23px;
    position: absolute;
    top: 5%;
    left: 15%;
    padding: 0.5%;
}

a{
    transition: 0.7s;

}

a:hover{
    transition: 0.7s;
   font-size: 25px;
}

nav{
    border-radius: 20px;
}

img{
    border-radius: 20px;
}

#padre{
    border: 3px rgb(11, 113, 30) solid;
    text-align: center;
    padding: 0.5%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.34);
    cursor: pointer;
    width: 30%;
}

#padre1{
    display: flex;
    gap: 10px;
}